<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRegionAPP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5406DE8EC5DA731F436A02F83A199FC396B657AA</string>
				<key>dateExpires</key>
				<string>2021/5/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>54D82HQ6FP.cn.cucsi.BUP.chongqing</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>54D82HQ6FP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BRegionAPP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bf4a6214-392b-4f64-81d5-613fe2c8160c</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: cn.cucsi.BUP.chongqing</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>54D82HQ6FP</string>
				<key>name</key>
				<string>UNICOM SYSTEM INTEGRATION CORP.HEILONGJIANG BRANCH</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
